.mainFormSelect,
.mainFormNumber,
.mainFormButton {
  font-family: "Righteous", sans-serif;
}
.mainFormNumber,
.mainFormSelect {
  width: 70%;
  justify-self: center;
  box-sizing: border-box;
  padding: 0.85rem 1.6rem;
  margin: 1rem;
}
.mainForm {
  display: grid;
}
.mainFormButton {
  background-color: #4caf50;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.85rem 1.6rem;
  text-align: center;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 1rem;
  width: 50%;
  justify-self: center;
}
.mainResult {
  text-align: center;
}
.levelLabel,
.markLabel {
  text-align: center;
}
@media only screen and (min-width: 40rem) {
  .mainForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .mainFormNumber,
  .mainFormSelect {
    justify-self: unset;
    width: 70%;
  }
  .levelLabel,
  .markLabel {
    align-items: center;
    justify-self: start;
    padding: 1rem;
  }
  .mainFormSelect,
  .mainFormNumber {
    justify-self: end;
  }
  .mainFormSelect,
  .levelLabel {
    display: inline;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .mainFormNumber,
  .markLabel {
    display: inline;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .mainFormButton {
    display: grid;
    grid-column: -3/-1;
  }
}
